<html>
    <head>
        <style>
            .container{
                background-color: #f1f1f1;
                padding: 25px 25px;
                font-size: 14px;
            }
            .my-spacer{
                margin: 8px;
                text-align: center;
            }
            .link{
                background-color: #031c32;
                padding: 12px 12px;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
            }
            .link:hover{
                background-color: #fff;
                color: #031c32;
                text-decoration: none;
            }
        </style>
    </head>
<body>
    <div class="container">
            <center class="my-spacer">
                <img 
                src="https://www.permiles.com/transparent-small-logo.png" 
                style="max-width: 75px; height: 75px;"
                />
            </center>
            <h1>
                Hi {{firstname}},
            </h1>
        <p>
            We have received a request to reset your password for Per Miles. 
            Please visit the link blow to reset your password. Link will expire in one hour.
        </p>
        <br />
         <div class="my-spacer">
                <a href={{ resetLink }} class="link">Reset Password</a>
          </div>
          <br />
        <div>
            Thanks, <br />
            Per Miles
        </div>
    </div>
</body>
</html>